* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  color: rgb(80, 80, 80);
  background-color: rgb(194, 192, 192);
}

.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

img {
  width: 100%;
}

/* Hidding slides */
div.slide {
  display: none;
}

/* displaying slides */
div.slide--active {
  display: block;
}

button.slider__btn {
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: 0.5s;
  background-color: rgb(197, 197, 197);
  color: gray;
  cursor: pointer;

  outline-width: 2px;
  outline-style: solid;
  outline-color: transparent;
}

button.slider__btn:hover {
  background-color: aliceblue;
  color: black;
  outline-offset: -3px;
  outline-color: gray;
}

.slider__btn--right {
  position: absolute;
  top: 40%;
  right: 0;
}

.slider__btn--left {
  position: absolute;
  top: 40%;
  left: 0;
}

div.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 1rem auto;
}

div.dots__dot {
  height: 1rem;
  width: 1rem;
  margin-right: 20px;
  border-radius: 50%;
  background-color: rgb(161, 161, 161);
  cursor: pointer;

  transition: background-color 0.5s;
}
div.dots__dot--active {
  background-color: #e0d0d0;
  box-shadow: 0 0 10px 1px gray;
}
